# Python bytecode files
# *.pyc
# *.pyo
# *.pyd
*.csv
# __pycache__/


# instant_toolbox/__pycache__
# toolboxapp/__pycache__
.env
/env
/images

# toolboxapp/migrations

/staticfiles

# #/products
db.sqlite3